:root {
  --formfilter-color-bg-primary: #ffffff;
  --formfilter-bg-secondary: #55bc04;

  --formfilter-card-bg: #fff;
  --formfilter-card-border: #55bc04;

  --formfilter-btn-primary: #55bc04;

  --formfilter-font-primary: #ffffff;
  --formfilter-font-secondary: #c2c2c2;
  --formfilter-font-tertiary: #55bc04;
  --formfilter-font-quaternary: #6f6f6f;
}
a,a:hover /* afeta links e quando eles estão com mouse por cima deles*/ {
  text-decoration: none; /* tira a decoração do texto , retornando a uma aparência normal*/
  color: unset; /*nao muda a cor do link */
}
link{
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.form-filter-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
