
.form-filter-form-area{
    width: 100%;
    height: 200px;
    margin-top: 30px;
    background-color: var(--formfilter-color-bg-tertiary);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    
}
.form-filter-form-area form {
    width:fit-content;
    margin-left: 20px;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

.form-filter-input-style{
    padding-left:10px;

    font-size: 16px;
    font-weight: 400px;

    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--formfilter-color-border-primary);
}
.form-filter-input-style::placeholder{
    color: var(--formfilter-color-font-quaternary);
}

.form-filter-button-style{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: var(--formfilter-color-font-primary);

    
    border-radius: 5px;
    border-style: none;
    background-color: var(--formfilter-color-bg-secondary);


}


.form-filte-box{
    width: 200px;
    height: 40px;
}